/* Component stylings */
@import url('./components/topnavbar_styles.css');
@import url('./components/form_styles.css');


/* FONTS */
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}
h1{
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}
body{
    margin: 0;
    font-family: Poppins-Regular;
    font-size: small;
    text-align: left;
    background-color: rgb(133, 233, 220);
    color: #000000;
}
.user-card{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
}