.form-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--card);
    color: var(--text);
    box-shadow: var(--shadow-1);
    width: 500px;
    border: 1px solid var(--border);
    border-radius: 10px;
}